body {
	font-family: 'Roboto', sans-serif;
	color: #333;
}

img {
	max-width: 100%;
	height: auto;
}

* {
  /*This property is defined for all the CSS classes which includes _global.css*/
  box-sizing: border-box;
}