.wrapper {
	/*The overflow property specifies what should happen if content overflows an element's box.*/
	overflow: hidden; /*scroll, auto, visible*/
	padding-left: 18px;
	padding-right: 18px;
	//background-color: green;
	max-width: 1236px;
	/*this will make the contents horizontally centered*/
	margin-left: auto;
	margin-right: auto;
	
	&--medium {
		max-width: 976px;
	}
	
	/*the image "our-start.jpg" in index.html looked disaligned from the top image
	first-trip.jpg, as the first image was put in a div tag*/
	/*to avoid this disalignment, we define a nested wrapper and say. a wrapped 
	inside another wrapper with have 0 padding*/
	/*why nested ?
	The first image is inside the nested wrapper, and following the above common property of the wrapper class, hence below we are overriding those property*/
	.wrapper {
    	padding-left: 0;
    	padding-right: 0;
	}
	
	&--b-margin {
		margin-bottom: 1rem;
		@mixin atMedium {
			margin-bottom: 3.875rem;
		}
		
	}
	
	&--no-padding-until-medium {
		padding-left: 0;
		padding-right: 0;
		
		@mixin atMedium {
			padding-left: 18px;
			padding-right: 18px;
		}
	}
}